<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite: OrangeHRM_FunctionalTesting - R2.0" verbose="1" >

	<listeners>
		<listener class-name="myproject.ExtentReportListener.ExtentReporterNG" />
	</listeners>


  <test name="Release-R2.0" >
    
    <classes>
      <class name="myproject.tests.LoginPageTests"/>
      <!-- <class name="myproject.tests.HomePageTests"/> -->
      
    </classes>
  </test>
</suite>